{% extends "main/base.html" %}
{% block content %}{% load crispy_forms_tags %} 
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register - Class</title>

    <!-- bootstrap cdn -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- javascript cdn bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <!-- custom css -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Francois+One|Roboto+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">


    <!-- font awesome -->
    <script src="https://use.fontawesome.com/cc2f89fd42.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>


</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" id="info">
                <h1 class="text-center text-black" id="head">Register your account</h1>
                <div class="container" id="forms">
                    <div class="form-wrapper">
                        <form action="" method="post">
                                <span id='message'></span><br>
                                <span id="message2"></span>
                                <br>
                                <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" onclick="seePassword()">
                                        <span class="custom-control-indicator"></span>
                                        &nbsp; &nbsp; Show Password
                                    </label>
                                    {% csrf_token %} 
                                    {{form|crispy}}
                                      <br>

                                        <br>
                            <!-- profiles -->
                            {% if error_message %}
                            <div class="alert alert-danger">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>Error!</strong> {{ error_message }}
                            </div>
                            {% endif %}
                            <!-- <label for="first_name">First Name</label><br>
                            <input class="form-control form-control-lg rounded-0" type="text" name="first_name"><br>

                            <ast name -->
                            <!-- <label for="last_name">Last Name</label><br>
                            <input class="form-control form-control-lg rounded-0" type="text" name="last_name"><br> -->

                            <!-- maiden name -->
                            <!-- <label for="maiden_name">Maiden Name</label><br>
                            <input class="form-control form-control-lg rounded-0" type="text" name="maiden_name"><br> -->

                            <!-- street address name
                            <label for="street_address">Street Address</label><br>
                            <input class="form-control form-control-lg rounded-0" type="text" name="street_address"><br> -->

                            <!-- city address name -->
                            <!-- <label for="city">City</label><br>
                            <input class="form-control form-control-lg rounded-0" type="text" name="city"><br> -->


                            <!-- state address name -->
                            <!-- <label for="state">state</label><br>
                            <input class="form-control form-control-lg rounded-0" type="text" name="state"><br> -->

                            <!-- location -->
                            <!-- <div class="row">
                                <div class="col-md-6">
                                    <label for="zipcode">zipcode</label>
                                    <input class="form-control form-control-lg rounded-0" type="number" name="zipcode">
                                </div>
                                <div class="col-md-6">
                                    <label for="country_name">Country</label><br>
                                    <input type="text" class="form-control form-control-lg rounded-0" name="country_name"><br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="grad_year">Graduation Year</label><br>
                                    <input class="form-control form-control-lg rounded-0" type="text" name="grad_year"><br>
                                </div>
                            </div> -->
                            <div class="text-center">
                                <input type="submit" id="submit-button2" value="Register">
                            </div> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
    <script type="text/javascript">

    function seePassword() {
        var x = document.getElementById("id_password1");
        var y = document.getElementById("id_password2")
        if (x.type === "password" ||  y.type === "password") {
            x.type = "text";
            y.type = "text";

        } else {
            x.type = "password";
            y.type = "password";
        }

        // changing the style
    }

    $('#id_password1, #id_password2').on('keyup', function () {
        if ($('#id_password1').val() == $('#id_password2').val()) {
          $('#message').html('Passwords  Match.').css('color', 'green');
        } else 
          $('#message').html('Passwords donot Match.').css('color', 'red');

    //   testing the length of the password
        if ($('#id_password1').val().length < 8){
            $('#message2').html('Password Too Short').css('color', 'red');
            } else 
            $('#message2').html('Good Length.').css('color', 'green');
        });
   </script>
</body>


</html>
{% endblock %}